
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminOSCE.cshtml";
}
@section css{

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
}


@section scripts{
    <script src="~/Scripts/Admin/Home/main.js"></script>
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-home"></i> Dashboard</h3>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <h2 class="text-center">Sistem Supply Management PT.XYZ</h2>
            <div class="clearfix"><hr /></div>

            @{
                if (Session["RoleID"].ToString() == "19")
                {
                    if (ViewData["StatusApproval"].ToString() == "Approve")
                    {
                        <div id="nodata" class="text-center ">
                            <img src='~/assets/img/Approve.png' class='img-fluid' style='max-height:300px;' />
                            <div><h5 class="text-center"> Selamat Bergabung. Silahkan melakukan submit Proyek Anda.</h5></div>
                        </div>
                    }
                    else if (ViewData["StatusApproval"].ToString() == "Reject")
                    {
                        <div id="nodata" class="text-center ">
                            <img src='~/assets/img/Reject.png' class='img-fluid' style='max-height:300px;' />
                            <div><h5 class="text-center"> Maaf, Anda tidak dapat melakukan Sumbit Proyek, dikarenakan persetujuan Anda ditolak.</h5></div>
                        </div>
                    }
                    else if (ViewData["StatusApproval"].ToString() == "Pending")
                    {
                        <div id="nodata" class="text-center ">
                            <img src='~/assets/img/prosss.png' class='img-fluid' style='max-height:300px;' />
                            <div><h5 class="text-center"> Selamat Bergabung. Silahkan menunggu Approval sebelum Anda Submit Proyek.</h5></div>
                        </div>
                    }
                    else if (ViewData["StatusApproval"].ToString() == "Pending-1")
                    {
        <div id="nodata" class="text-center ">
            <img src='~/assets/img/prosss.png' class='img-fluid' style='max-height:300px;' />
            @if (ViewData["BidangUsaha"].ToString() != "" && ViewData["JenisPerusahaan"].ToString() != "")
            {
                <div><h5 class="text-center"> Data Anda sedang dalam Prosess.</h5></div>
            }
            else
            {
                <div><h5 class="text-center"> Silahkan lengkapi data Anda Terlebih dahulu. <a href="#" asp-area="" onclick="window.location.href = '/Admin/UserManage/EditProfile'" class="text-danger"> klik disini</a> untuk melengkapi data.</h5></div>
            }
        </div>
                    }
                }
            }
        </div>
    </div>
</div>


