
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminOSCE.cshtml";
}
@section css{

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/inputResponsive.css">
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
}


@section scripts{
    <script src="~/Scripts/Admin/Home/main.js"></script>
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-home"></i> Dashboard</h3>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <h2 class="text-center">Sistem Supply Management PT XYZ</h2>
            <div class="clearfix"><hr /></div>
                        <div><h5><i class="fa fa-adjust"></i> Selamat Bergabung. Anda sudah bisa melakukan submit data Proyek pada sistem kami.</h5></div>

            @{ 
                if (Session["RoleID"].ToString() == "19")
                {
                    if (ViewData["StatusApproval"].ToString() =="Approve" )
                    {
                    }
                    <div></div>
                }
            }
            @*@{
            if (ViewData["StatusApproval"].ToString() == "Approve")
            {
                <button type="button" class="btn btn-round btn-info" onclick="CreateData()"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Data</button><div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <p class="text-muted font-13 m-b-30">
                                </p>
                                <table id="datatable-responsive" class="table table-striped bg-gray table-bordered dt-responsive nowrap table-Proyek" cellspacing="0" width="100%">
                                    <thead>
                                        <tr class="bg-green text-center">
                                            <th width="10%"><i class="fa fa-gear" aria-hidden="true" style="font-size:20px"></i></th>
                                            <th width="5%">No</th>
                                            <th>Nama</th>
                                            <th>Deskripsi</th>
                                            <th>Email Perusahaan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="nodata" class="text-center ">
                    <img src='~/assets/img/nodata.jpeg' class='img-fluid' style='max-height:300px;' />
                    <div class='mb-4 px-2'><strong>Anda Belum Bisa Melakukan Submit Proyek.</strong></div>
                </div>
            }
        }*@


        </div>
    </div>
</div>


