################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OSCEUKDISolution/FileContentIndex/afa05bba-018d-48fb-b4f4-b2b4798f5db5.vsidx
/.vs/OSCEUKDISolution/FileContentIndex
/.vs/OSCEUKDISolution/v17/.suo
/.vs/OSCEUKDISolution/v17/fileList.bin
/OSCEUKDI.UI/OSCEUKDI.Presentation/bin/OSCEUKDI.Presentation.pdb
/OSCEUKDI.UI/OSCEUKDI.Presentation/bin/OSCEUKDI.Presentation.dll
/OSCEUKDI.UI/OSCEUKDI.Presentation/obj/Debug/OSCEUKDI.Presentation.pdb
/OSCEUKDI.UI/OSCEUKDI.Presentation/obj/Debug/OSCEUKDI.Presentation.dll
/OSCEUKDI.UI/OSCEUKDI.Presentation/obj/Debug/OSCEUKDI.Presentation.csproj.AssemblyReference.cache
/OSCEUKDI.UI/OSCEUKDI.Presentation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/OSCEUKDI.UI/OSCEUKDI.Presentation/OSCEUKDI.Presentation.csproj.user
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/obj/Debug/OSCEUKDI.Common.csproj.AssemblyReference.cache
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/obj/Debug/OSCEUKDI.Services.csproj.AssemblyReference.cache
/OSCEUKDI.Data/OSCEUKDI.Repository/obj/Debug/OSCEUKDI.Repository.csproj.AssemblyReference.cache
/.vs/OSCEUKDISolution/config/applicationhost.config
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/bin/Debug/OSCEUKDI.Entities.pdb
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/bin/Debug/OSCEUKDI.Entities.dll
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/bin/Debug/OSCEUKDI.Common.pdb
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/bin/Debug/OSCEUKDI.Common.dll
/.vs/OSCEUKDISolution/config/applicationhost.config
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/obj/Debug/OSCEUKDI.Common.pdb
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/obj/Debug/OSCEUKDI.Common.dll
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/obj/Debug/OSCEUKDI.Common.csproj.FileListAbsolute.txt
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/obj/Debug/OSCEUKDI.Common.csproj.CoreCompileInputs.cache
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/bin/Debug/OSCEUKDI.Services.dll
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/bin/Debug/OSCEUKDI.Entities.pdb
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/bin/Debug/OSCEUKDI.Entities.dll
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/bin/Debug/OSCEUKDI.Common.pdb
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/bin/Debug/OSCEUKDI.Common.dll
*.pdb
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/obj/Debug/OSCEUKDI.Services.dll
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/obj/Debug/OSCEUKDI.Services.csproj.FileListAbsolute.txt
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/obj/Debug/OSCEUKDI.Services.csproj.CoreCompileInputs.cache
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/obj/Debug/OSCEUKDI.Services.pdb
/OSCEUKDI.Data/OSCEUKDI.Entities/bin/Debug/OSCEUKDI.Entities.pdb
/OSCEUKDI.Data/OSCEUKDI.Entities/bin/Debug/OSCEUKDI.Entities.dll
/OSCEUKDI.Data/OSCEUKDI.Entities/obj/Debug/OSCEUKDI.Entities.dll
/OSCEUKDI.Data/OSCEUKDI.Entities/obj/Debug/OSCEUKDI.Entities.csproj.FileListAbsolute.txt
/OSCEUKDI.Data/OSCEUKDI.Entities/obj/Debug/OSCEUKDI.Entities.csproj.CoreCompileInputs.cache
/OSCEUKDI.Data/OSCEUKDI.Entities/obj/Debug/OSCEUKDI.Entities.csproj.AssemblyReference.cache
/OSCEUKDI.Data/OSCEUKDI.Entities/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/OSCEUKDI.Data/OSCEUKDI.Repository/bin/Debug/OSCEUKDI.Repository.dll
/OSCEUKDI.Data/OSCEUKDI.Repository/bin/Debug/OSCEUKDI.Entities.dll
/OSCEUKDI.Data/OSCEUKDI.Repository/bin/Debug/OSCEUKDI.Common.dll
/OSCEUKDI.Data/OSCEUKDI.Repository/bin/Debug/OSCEUKDI.Services.pdb
/OSCEUKDI.Data/OSCEUKDI.Repository/bin/Debug/OSCEUKDI.Services.dll
/OSCEUKDI.Data/OSCEUKDI.Repository/obj/Debug/OSCEUKDI.Repository.csproj.GenerateResource.cache
/OSCEUKDI.Data/OSCEUKDI.Repository/obj/Debug/OSCEUKDI.Repository.csproj.FileListAbsolute.txt
/OSCEUKDI.Data/OSCEUKDI.Repository/obj/Debug/OSCEUKDI.Repository.csproj.CoreCompileInputs.cache
/OSCEUKDI.Data/OSCEUKDI.Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/OSCEUKDI.UI/OSCEUKDI.Presentation/bin/OSCEUKDI.Services.dll
/OSCEUKDI.UI/OSCEUKDI.Presentation/bin/OSCEUKDI.Repository.dll
/OSCEUKDI.UI/OSCEUKDI.Presentation/bin/OSCEUKDI.Entities.dll
/OSCEUKDI.UI/OSCEUKDI.Presentation/bin/OSCEUKDI.Common.dll
/OSCEUKDI.UI/OSCEUKDI.Presentation/obj/Debug/OSCEUKDI.Presentation.csproj.FileListAbsolute.txt
/OSCEUKDI.UI/OSCEUKDI.Presentation/obj/Debug/OSCEUKDI.Presentation.csproj.CoreCompileInputs.cache
/.vs/OSCEUKDISolution/v17/.suo
/OSCEUKDI.BusinessLogic/OSCEUKDI.Common/obj/Debug/build.force
/OSCEUKDI.Data/OSCEUKDI.Repository/obj/Debug/OSCEUKDI.Repository.dll
/OSCEUKDI.Data/OSCEUKDI.Repository/obj/Debug/build.force
/OSCEUKDI.Data/OSCEUKDI.Repository/obj/Debug/OSCEUKDI.Repository.pdb
/OSCEUKDI.Data/OSCEUKDI.Repository/bin/Debug/OSCEUKDI.Repository.dll.config
/OSCEUKDI.BusinessLogic/OSCEUKDI.Services/obj/Debug/build.force
/OSCEUKDI.UI/OSCEUKDI.Presentation/obj/Debug/build.force
/OSCEUKDI.UI/OSCEUKDI.Presentation/Web.config
